<nav>
  <div class="nav-wrapper">

    <div class="logo">
      <img src="assets/logo.png" alt="Logo">
    </div>

    <ul class="left side-nav" id="slide-out">
      <li><a [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a></li>
      <li><a [routerLink]="['/tasks']" [routerLinkActive]="['active']">Tasks</a></li>
      <li><a [routerLink]="['/task', 4]" [routerLinkActive]="['active']">Task Detail</a></li>
    </ul>

    <a href="#" class="button-collapse" data-activates="slide-out">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>