<a [routerLink]="['/task', task.id]" class="task-item">
   <div class="icon">
      <i class="fa fa-arrow-right fa-lg"></i>
   </div>
   <div class="content">
      <div class="title">{{ task.taakNaam }}</div>

      <app-task-customer
              [id]="task.klantId">
      </app-task-customer>

      <div class="status">
         <span>Status: {{task.vooruitgangPercentage}}%</span>
         <i *ngIf="task.vooruitgangPercentage==100" class="fa fa-check complete" aria-hidden="true"></i>
         <i *ngIf="isActive()" class="fa fa-refresh fa-spin fa-lg"></i>
      </div>
   </div>
</a>
