
<div class="task-detail row">

  <div class="container">
    <div class="col s12 m6 offset-m3">
      <div class="row detail-header">
        <div class="col s10">
          <div class="intro">
            <div class="name">
                <span>
                 Bourgeois Kristof
                </span>
            </div>
            <div class="adress">
                <span>
                  Molenstraat 39 <br>
                  Kortrijk
                </span>
            </div>
          </div>
        </div>

        <div class="col s2">
          <button class="btn-flat quick-list-btn"
                  data-activates='dropdown-menu'>
            <i class="material-icons">more_vert</i>

            <ul id='dropdown-menu' class='dropdown-content'>
              <li><a href="#!">Toon adres op kaart</a></li>
            </ul>

          </button>
        </div>

      </div>


      <div class="row actions">
        <button class="start-pauze"><span>Start</span> <i class="material-icons">play_arrow</i></button>
        <!--<button class="">Pauze<i class="material-icons">pause</i></button>-->
        <button disabled class="stop"><span>Stop</span> <i class="material-icons">stop</i></button>
      </div>


      <div class="row detail-body">
        <div class="table">
          <div class="table-header">
            Omschrijving
          </div>

          <div class="table-body">
            <p class="title">title</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>

      </div>





    </div>
  </div>
  
</div>

