/* Task row */

.task-item{
  color: #fff;
  background-color: rgba(0, 0, 0, 0.24);
  padding: 12px 16px;
  margin-bottom: 8px;

  @include display-flex();
  @include flex-direction(row);

  .icon{
    width: 32px;
    padding: 8px 0px;
    height:40px;
    line-height:40px;
  }

  .content{
    width: 100%;

    @include flex-direction(column);

    .title{}

    .category,
    .status{
      font-size:12px;
      font-weight:300;

      .fa{
        font-size: 16px;
        margin-left: 6px;
        &.fa-check{
          color: $btn_green;
        }
      }
    }


  }
}


